<main>
<form name="form" data-ng-submit="vm.login()" role="form">

    <div class="form-group">
        <input type="text" class="form-control" data-ng-model="vm.username" placeholder="Användarnamn"/>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" data-ng-model="vm.password" placeholder="Lösenord"/>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Logga in</button>
    </div>

</form>

<div class="has-error">
    <p class="help-block" data-ng-if="vm.showErrorMessage">{{vm.errorMessage}}</p>
</div>

<div>
    <p data-ng-if="vm.loading">Laddar...</p>
</div>

<div>
    <a href="#/register">Ny användare</a>
</div>
</main>


