<main>
    <form name="form" data-ng-submit="vm.addUser()" role="form" novalidate>

<!--USERNAME-->
        <div class="form-group" ng-class="{
            'has-error': form.username.$invalid && form.username.$dirty,
            'has-success has-feedback' : form.username.$valid && form.username.$dirty
        }">
            <input type="text"
                   name="username"
                   class="form-control"
                   data-ng-model="vm.username"
                   placeholder="Username"
                   ng-minlength="6" ng-maxlength="20" required/>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            <p class="help-block" ng-show="form.username.$error.minlength">Username is too short</p>
            <p class="help-block" ng-show="form.username.$error.maxlength">Username is too long</p>
            <p class="help-block" ng-show="
                !form.username.$error.minlength && !form.username.$error.maxlength
                && form.username.$invalid && form.username.$dirty">Username i required</p>
        </div>
<!--FIRSTNAME-->
        <div class="form-group" ng-class="{
            'has-error' : form.firstname.$invalid && form.firstname.$dirty,
            'has-success has-feedback' : form.firstname.$valid && form.firstname.$dirty
        }">
            <input type="text"
                   name="firstname"
                   class="form-control"
                   data-ng-model="vm.firstname"
                   placeholder="First name"
                   required/>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            <p class="help-block" ng-show="form.firstname.$invalid && !form.firstname.$pristine">First name is required</p>
        </div>
<!--LASTNAME-->
        <div class="form-group" ng-class="{
            'has-error' : form.lastname.$invalid && form.lastname.$dirty,
            'has-success has-feedback' : form.lastname.$valid && form.lastname.$dirty
        }">
            <input type="text"
                   name="lastname"
                   class="form-control"
                   data-ng-model="vm.lastname"
                   placeholder="Last name"
                   required="required"/>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            <p class="help-block" ng-show="form.lastname.$invalid && !form.lastname.$pristine">Last name is required</p>
        </div>
<!--EMAIL-->
        <div class="form-group" ng-class="{
            'has-error' : form.email.$invalid && form.email.$dirty,
            'has-success has-feedback' : form.email.$valid && form.email.$dirty
            }">
            <input type="email"
                   name="email"
                   class="form-control"
                   data-ng-model="vm.email"
                   placeholder="Email"/>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            <p class="help-block" ng-show="form.email.$invalid && form.email.$dirty">Enter a valid email address</p>
        </div>
<!--PASSWORD1-->
        <div class="form-group" ng-class="{
            'has-error' : form.pw2.$invalid && !form.pw2.$pristine,
            'has-success has-feedback' : form.pw2.$valid && !form.pw2.$pristine
        }">
            <input type='password' id='pw1'
                   placeholder="Password"
                   class="form-control"
                   ng-model='vm.password1'
                   required/>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
<!--PASSWORD2-->
        <div class="form-group" ng-class="{
            'has-error' : form.pw2.$invalid && form.pw2.$dirty,
            'has-success has-feedback' : form.pw2.$valid && form.pw2.$dirty
        }">
            <input type='password' name='pw2'
                   placeholder="Repeat password"
                   class="form-control"
                   ng-model='vm.password2'
                   required pw-check='pw1' />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            <p class='msg-error help-block' ng-show='form.pw2.$error.pwmatch && form.pw2.$dirty'>
                Passwords do not match</p>
        </div>


<!--SUBMIT BUTTON-->
        <div>
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="form.$invalid">Create user
            </button>
        </div>

        <div data-ng-if="vm.loading">Loading...</div>
        <div data-ng-if="vm.showErrorMessage" ng-repeat="fielderror in vm.errorMessage">{{fielderror.message}}</div>
    </form>
</main>