<input type="text" data-ng-model="vm.username" placeholder="Användarnamn"/>
<input type="text" data-ng-model="vm.firstname" placeholder="Förnamn"/>
<input type="text" data-ng-model="vm.lastname" placeholder="Efternamn"/>
<input type="text" data-ng-model="vm.email" placeholder="E-post"/>
<input type="password" data-ng-model="vm.password1" placeholder="Lösenord"/>
<input type="password" data-ng-model="vm.password2" placeholder="Lösenord igen"/>
<button data-ng-click="vm.addUser()">Loggga in</button>