
<div data-ng-init="vm.getObject()">

        <h1>Välj 3 favoritdestinationer</h1>
        <select ng-model="vm.aCountry" ng-options="item.country for item in vm.object.listDestinations | orderBy:'country'" ng-value="item.id">
            <option value="">--- Choose destination ---</option>
        </select>

    <button id="addButton" ng-click="vm.addItemToList()" ng-disabled="!vm.aCountry">Add</button>

    <p ng-repeat="countryItem in vm.chosenCountries track by $index">
        <span>{{countryItem.country}}</span>
        <button ng-click="vm.removeItemFromList(countryItem)">Remove</button>
    </p>

        <p><button id="submitButton" ng-click="vm.sendForm()" disabled>Send</button></p>
        <div data-ng-if="vm.loading">Loading...</div>


</div>