@import url('https://fonts.googleapis.com/css?family=Rubik');


* {
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(180deg, #FFF 10%, #e8c2e4 90%);
}

.centre {
    text-align: center;
    margin: auto;
    width: 50%;
    color: #325a8b;
    background-color: transparent;
}
.button1{
    background-color: #ff9110;
    border: none;
    color: #24478f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;

}
main {
    margin-left:30%;
    margin-right:30%;
}

#slides_control > div{
    height: 450px;
}

.countryPhotos {
    width: 700px;
    max-height:450px;
}

#slides_control {
    width: 700px;
    margin: auto;
}

#pictureWrapper {
    width:50%;
    margin:auto;
    text-align:center;
}