<nav>
    <button type="button" class="btn btn-warning" onclick="location.href='#/personalpage'">Personal page</button>
    <button type="button" class="btn btn-info" ng-click="vm.logout()">Logga ut - {{vm.username}}</button>
</nav>

<h1>Reseförslag </h1>
<h4>Baserat på din personlighet är det troligt att du kommer att uppskatta följande resemål:</h4>

<div data-ng-init="vm.getObject()">

    <h2> {{vm.currentSuggestion.country}}</h2>

    <p><button type="button" class="btn btn-warning" ng-click="vm.nextSuggestion()" >Nästa tips</button></p>
    <div data-ng-if="vm.loading">Loading...</div>

</div>

    <br>
        <img data-ng-src="img/{{vm.currentSuggestion.country}}.jpg">
    <br>

<iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        ng-src = ""  allowfullscreen>
</iframe>
