<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Personlighetstest</h2>

    <div data-ng-init="vm.getQuestion()">
        <strong><em>{{vm.questionObj.question}}</em></strong>
        <form>
            <label>
            <input type="radio" ng-model="vm.questionObj.result" name="answer" ng-value="vm.questionObj.answer[0]" > {{vm.questionObj.options[0]}}
            </label>
            <label>
            <input type="radio" ng-model="vm.questionObj.result" name="answer" ng-value="vm.questionObj.answer[1]"> {{vm.questionObj.options[1]}}
            </label>
        </form>
    </div>

    <button data-ng-click="vm.getQuestion()">Next Question</button>
    <br />
    <button data-ng-click="vm.send()">Send</button>
    <br />
    <strong>Selected value:</strong> {{vm.questionObj.result}}<br />
    <br />
    <br />
    <strong>Object:</strong> {{vm.questionObj.result}}<br />
    <br />

</body>
</html>