<nav>
    <button type="button" class="btn btn-warning" onclick="location.href='#/error'">Error</button>
    <button type="button" class="btn btn-warning" ng-click="vm.suggestions()">Vill du få nya restips?</button>
    <button type="button" class="btn btn-warning" onclick="location.href='#/perstest'">Gör personlighetstestet</button>
    <button type="button" class="btn btn-info" ng-click="vm.logout()">Logga ut - {{vm.username}}</button>
</nav>
<div ng-init="vm.getFavourites()">

    <h1>Favourite destinations:</h1>
    <div class="container slider">
        <img ng-repeat="slide in vm.object.listDestinations" class="slide" ng-hide="!vm.isCurrentSlideIndex($index)" data-ng-src="img/{{slide.country}}.jpg">


    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in vm.object.listDestinations"  >
                    <a href="#" ng-class="{'active':vm.isCurrentSlideIndex($index)}" ng-click="vm.setCurrentSlideIndex($index);">{{slide.country}}</a></li>
            </ul>
        </div>
    </nav>
</div>


<!--<div id="slides_control">-->
    <!--<div>-->
        <!--<carousel interval="vm.myInterval">-->
            <!--<slide ng-repeat="item in vm.object.listDestinations track by $index" active="item.active">-->
                <!--<ol>-->
                   <!--<l1> <img data-ng-src="img/{{item.country}}.jpg">-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>{{item.country}}</h4>-->
                    <!--</div>-->
                   <!--</l1>-->
                <!--</ol>-->
            <!--</slide>-->
        <!--</carousel>-->
    <!--</div>-->
<!--</div>-->




    <p><button type="button" class="btn btn-warning" ng-click="vm.newFavourites();vm.selectFavourites=true " data-ng-hide="vm.selectFavourites">Add favourites</button>
        <div data-ng-show="vm.selectFavourites">
        <select ng-model="vm.aCountry" ng-options="item.country for item in vm.countries.listDestinations | orderBy:'country'" ng-value="item.id">
            <option value="">--- Välj destination ---</option>
        </select>

        <button class="btn btn-info" id="addButton" ng-click="vm.addFavourite();vm.selectFavourites=false">Add as favourite</button>
    <button  class="btn btn-warning" data-ng-click="vm.selectFavourites=false;">Don't add</button>
        </div>
        <br>
    </p>
</div>