<nav>
    <button type="button" class="btn btn-warning" ng-click="vm.suggestions()">Vill du få nya restips?</button>
    <button type="button" class="btn btn-warning" onclick="location.href='#/perstest'">Gör personlighetstestet</button>
    <button type="button" class="btn btn-info" ng-click="vm.logout()">Logga ut - {{user.username}}</button>
</nav>
<div ng-init="vm.getFavourites()">

    <h1>Favoritresemål:</h1>
    <p ng-repeat="item in vm.object.listDestinations track by $index">
        <span>{{item.country}}</span>
        <br>
        <img data-ng-src="img/{{item.country}}.jpg">
        <br>
    </p>
</div>